
@model IEnumerable<Library.Web.Data.Entities.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Autores</h1>
<a class="btn btn-info" asp-action="Create">Nuevo Autor</a>
<table class="table table-bordered mt-3"> 
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td><a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" style="display:contents">
                        <button class="btn btn-danger btnDelete">Eliminar</button>
                    </form>
                    
                </td>

            </tr>
        }
    </tbody>

</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({
                    title: 'Desea eliminar el Autor?',
                    text: 'No podra revertirlo',
                    icon: 'question',
                    showCancelButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        const form = $(this).closest('form');
                        form.submit();
                    }

                });

            });
            
        });
    </script>
}



